/** App **/
$app-universal-font-family: "Open Sans", sans-serif;

/*** Section **/
$section-title-bg-color: #34495E;
$section-title-txt-color: #fff;

/** list items **/
$list-item-bg-color: #F4F6F9;
$list-item-text-color: #353535;
$list-item-date-color: #777;
$list-item-fonts-icon-color: #008ae5;
$list-item-selected-color: #fff;
$list-item-hover-color: #FBFBFB;
